.form{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  border: 1px solid black;
  background: #D3D3D3;
  margin: 0;
  padding: 30px 20px;
}

.leftpart{
  display: flex;
  flex-direction: column;
  background: #808080;
  padding: 30px 20px;
}

.rightpart{
  padding: 40px 50px;
  background: #808080;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.formChild{
  /*margin: 10px 20px;*/
  display: flex;
  justify-content: center;
}

label{
  /*display: flex;*/

  font-size: 20px;
  /*padding-right: 10px;*/
  width: 100px;
  margin: 18px 0;
}

input[type="text"]{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #666666;
  border-radius: 5px;
  border: 2px solid black;
}

button {
  min-width: 100px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 40px;
  font-size: 20px;
  border-radius: 5px;
}

.footer {
  margin-bottom: 0;
  color: #808080;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

p {
  margin: 0;
  padding: 0 60px;
  font-size: 20px;
}
