<div class="form">
  <div class="leftpart">
    <form [formGroup]="formGroup1">
      <div class="formChild" *ngFor="let item of datasource">
        <label>{{item.label}}</label>
        <input type="text" placeholder="{{item.name}}" [formControlName] = 'item.label'>
      </div>
    </form>
    <button (click)="onSubmit()">Generate</button>
  </div>
  <div class="rightpart">
    <div class="leftcolumn">
      <h1>Values</h1>
      <div class="formChild">
        <p>RMSmeas</p>
        <p>Phase</p>
      </div>
      <form [formGroup]="formGroup2">
        <div class="formChild" *ngFor="let item of measurements">
          <label>{{item.label}}</label>
          <input type="text" placeholder="{{item.name}}" [formControlName] = 'item.label'>
          <input type="text" placeholder="{{item.name2}}" [formControlName] = 'item.label'>
        </div>
      </form>
    </div>
    <div class="rightcolumn">
      <h1>Quality</h1>
      <form [formGroup]="formGroup3">
        <div class="formChild" *ngFor="let item of quality">
          <label>{{item.label}}</label>
          <input type="text" placeholder="{{item.name}}" [formControlName] = 'item.label'>
        </div>
      </form>
    </div>
  </div>
  <h3 class="footer">{{footerName}}</h3>
</div>


